body {
  font-family: sans-serif;
  text-align: center;
  background-color: #f0f0f0;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}

.game-board {
  display: grid;
  grid-gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.card {
  width: 100px;
  height: 100px;
  background-color: greenyellow;
  color: white;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 8px;
  user-select: none;
  transition: background-color 0.3s, color 0.3s;
  border: 2px solid red;
}

.card-img {
  width: 80%;
  height: 80%;
  object-fit: contain;
  pointer-events: none;
  border: none;
}

.card.checked {
  background-color: #fff;
  color: #333;
}
